body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
font-size: rem;
color: #D7B2B7;
}

.btn {
  font-size: 1em;
  font-weight: 200;
  border-radius:300px;
  text-align:center;
}

.btn-xl {
  padding: 1rem 2rem;
}

.btn-primary {
  text-transform: uppercase;
  background-color: #77555B;
  border-color: #77555B;
  border-width: 4px;
}

.btn-primary:hover {
  text-transform: uppercase;
  background-color: #1B0F11;
  border-color: #1B0F11;
  border-width: 4px;
}

hr {
  margin: 10px auto;
  color: #77555B;
  max-width: 65px;
  opacity: 1;  
}

.buffer {
  height: 10px;
}