body,
html {
  --bg0: #f3e6fd;
  --bg1: #291e29;
  --fg0: #00000a;
  --strk: #7b4595;
  margin: 0;
  background: var(--bg0);
  color: var(--fg0);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 1.2rem;
  padding: 10px;
}

h1 {
  font-size: 1.7rem;
  font-family: 'Grenze Gotisch', cursive;
}

#districts {
  fill-opacity: 0.8;
  stroke: var(--strk);
  stroke-width: 0.9px;
  cursor: crosshair;
}

.tooltip {
  position: absolute;
  text-align: left;
  margin: 0.5em;
  padding: 0.125em;
  background: var(--bg0);
}

.footer {
  padding: 5px;
  width: 100%;
  font-size: .9rem;
}

a {
  text-decoration: underline;
  font-weight: 600;
  color: #151e23;
}

a:hover {
  text-decoration: none;
  font-weight: 600;
  color: #151e23;
}

@media screen and (max-width: 768px) {
  body {
    margin-left: 0;
    padding: 10px;
  }
}