<!DOCTYPE html>
<html>

<head>
  <title>Singapore's Pollutant Standards Index (PSI) Today</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link href="style.css" rel="stylesheet">
  <script type="text/javascript" charset="utf8" src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

</head>

<body>
  <div class="container d-flex justify-content-center d-flex align-items-center">
    <div class="row">

      <header class="text-center col-12">
        <div class="buffer col-12"></div>
        <h1>Pollutant Standards Index (PSI) in Singapore</h1>
        <div class="buffer col-12"></div>
      </header>

      <div class="table" id="app" style="overflow-x:auto;">
        <table id="datatable" class="table">
          <!-- Timestamp -->
          <div v-for="(result, index) in results['items']" :key="index">
            <h2>Last updated: {{new Date(result['timestamp']).toLocaleString('en-US', {
              year: 'numeric',
              month: 'long',
              day: 'numeric',
              hour: 'numeric',
              minute: 'numeric'
              })}}
              <button onClick="window.location.href=window.location.href">Refresh</button>
            </h2>
          </div>

          <thead>
            <tr>
              <th>Metric</th>
              <th>National</th>
              <th>North</th>
              <th>East</th>
              <th>South</th>
              <th>West</th>
              <th>Central</th>
            </tr>
          </thead>

          <tbody>
            <tr v-for="metric in sortedMetrics" :key="metric"
              v-bind:style="{ backgroundColor: metric === 'psi_twenty_four_hourly' ? '#dbd1d0' : '' }" >
              <td v-text="metric" style="font-weight:bold"></td>
              <td v-text="results['items'][0]['readings'][metric]['national']"></td>
              <td v-text="results['items'][0]['readings'][metric]['north']"></td>
              <td v-text="results['items'][0]['readings'][metric]['east']"></td>
              <td v-text="results['items'][0]['readings'][metric]['south']"></td>
              <td v-text="results['items'][0]['readings'][metric]['west']"></td>
              <td v-text="results['items'][0]['readings'][metric]['central']"></td>
            </tr>
          </tbody>
        </table>

      </div>
      <div class="footer">
        The highlighted "psi_twenty_four_hourly" row represents the 24-hour average of PM 2.5 concentration levels. To
        determine if a PSI value represents healthy air quality levels, visit the air quality descriptors
        <a href="https://www.haze.gov.sg/" target="_blank">here</a>.<br>
        <a href="https://api.data.gov.sg/v1/environment/psi" target="_blank">API Data Source</a> |
        <a href="https://data.gov.sg/dataset/psi" target="_blank">About Dataset</a> |
        <a href="https://news.mit.edu/2018/mit-researchers-peat-burning-sumatra-causes-severe-haze-singapore-1121
          " target="_blank">Image Credit</a> |
        Created by <a href="https://lenezoe.github.io/" target="_blank">Alice Lee</a> using <a href="https://vuejs.org/api/options-state.html#data" target="_blank">Vue.js</a>.

      </div>

    </div>
    
  </div>

  <script>
    var app = new Vue({ // create a new instance of Vue framework
      el: "#app", // specify that the root element of the Vue app is an ID element of "app"
      data: {
        results: [] //  define that the data used is called "results", which is an empty array.
      },
      computed: {
        sortedMetrics: function () { //  defines a computed function/property named "sortedMetrics"
          return Object.keys(this.results['items'][0]['readings']).sort(); // sortedMetrics sorts the keys of the object in this.results['items'][0]['readings'].
        } 
      },
      created: function () { // lifecycle hook in Vue, which is called after the application is created .
        axios 
          .get("https://api.data.gov.sg/v1/environment/psi") //this line makes a GET request using the Axios library to the specified URL/API endpoint.
          .then(response => {this.results = response.data; // The API response is then passed to the 'then' callback function, which is stored in the "results" array.
          });
      }
    });
    </script>

</body>

</html>