body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(haze.jpg) no-repeat center center fixed; 
  background-color: 	#dbd1d0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color:#151e23;
}

h1 {
font-size: 1.7rem;
font-weight: 900;
color: #1F0E04;
}

h2 {
  font-size: 1rem;
  color: #1F0E04;
  text-align:center;
  font-weight:bold;
  }

h2 button{
  border-color: rgba(37,47,56,0.9);
  border-width: 1px;
  padding:1px;
}

div {
    min-width: 400px;
    overflow-x: auto;
  }

.table{
margin-left: auto;
margin-right: auto;
width:85%;
}

@media only screen and (max-width: 768px) {
  table {
    width: 85%; 
    max-width: 768px;
  }
}

thead tr:nth-child(odd) {
  background-color: rgba(37,47,56,0.9);
  padding: 3px;
  color: #dbd1d0;
  font-weight:bold;
}

tr:nth-child(odd) {
  background-color: rgba(111,111,111,0.7);
  padding: 3px;
	color: 	#151e23;
}

tr:nth-child(even) {
	padding: 3px;
	background-color: rgba(123,113,112,0.7);
	color: 	#151e23;
}

tr:hover {
      background-color: rgba(219,209,208,0.2);
      color: #151e23;
    }


.buffer {
  height: 10px;
}

.footer {
  background-color: rgba(219,209,208,0.3);
  margin-left: auto;
  margin-right: auto;
  margin-top:-15px;
  padding:5px;
  width:70%;
  font-size: .9rem;
}

.link-dark {
  text-decoration: underline;
  font-weight: 600;
  border-radius:100px;
}

.link-dark:hover {
  text-decoration: none;
}

